body {

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}


.footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    overflow: hidden;
    position: absolute;
    left: 0;

    width: 100%;

}

