*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: sans-serif;
	margin:0 1.5em 0 1.5em;
}
.encabezado{
    background-color:burlywood;
    display: block;
     margin:0 0.5em 0 0.5em;
    padding: 1em;
    height: 6em;
    position: sticky;
}
#logo{
   
    float:left;
    width: 3.75em;
    height: 3.75em;
   
    
}
#titulo{
    text-align: center;
    height: 1.5em;
    float: center;
    background-color: #FFE; 
    font-size: 2.5em;
    line-height: 1.5em;
   
    
}
.menu {
     background-color: #FEA;
     margin:0 0.5em 0 0.5em;
    text-align: center;
    padding: 1em;
   
}/**
.menu ul > li{
    display: inline-block;
    float: left;
     width: 25%;
    height: 2.5em;
    line-height: 2.25em;
    text-align:center;
    position: relative;
}**/
/*Esto funciona para todos los li del menu*/
.menu li{
    list-style-type: none;
    display: block;
}


.menu > ul{
   padding: 1em;
    display: inline-block;
    position: relative;
    width: 25%;
}

.submenu{
   position: absolute;
   background-color: white;
   margin-top: 1em; /* padding dado a los primeros li */
   margin-left: -1em; /* Resto el padding lateral de los primeros li. Para poder centrar este contenedor*/
   padding: 0.5em 1em;
 display: none; 
}
.submenu > li > ul{
   display:inline-block;
    position: relative;
}

/**
.menu ul > li{
    padding: 1em;
   
    display: inline-block;
    float: left;
     width: 25%;
    text-align:justify;
    position: relative;
}
.menu ul > ul {
    width: 100%;
    display:none;
    overflow: hidden;
    margin: 1em; 
    position: relative;
}

.menu ul > li{
    padding: 1em;
    background-color: #FEA; 
    display: inline-block;
    float: left;
     width: 25%;
    text-align:justify;
    position: relative;
}**/
/*
.menu ul{
    list-style: none;
    
}
.menu li{
    display: inline;
    float: left;
}

.menu ul li{
    display: block;
    float:left;
    position: inline;
}

.menu ul li a{
    display: block;
}
.menu ul li:hover > ul {
 display:block;
}
*/
#seccion{
    margin: 0.5em 0 0 0.5em;
    width: calc(76% - 0.5em);
    border-style: ridge;
    border-color: bisque;
    float:left;
}
.articulo{
    height:6em;
    overflow-y: auto;
    margin:0.5em;
    border-style: groove;
}
.barralateral{
   width: calc(23% - 0.5em);
    margin: 0.5em 0.5em 0 0.5em;
    border-style: ridge;
    border-color: bisque;
    float:right;
    text-align: center;
}
.compraLibro{
    margin:0.5em;
    border-style: ridge;
    border-color: bisque;
}
#picAside{
    height: 8em;
    
}
.formulario{
    width:60%;
    align-content: center;
   margin: 5% 20% 0% 20%; 
  text-align: justify;
    clear:both;    
}
legend{
     font-size: 3em;
}
.datos{
     font-size: 1.35em;
    text-align: left;
    display: flex;
    float: 
}
#izquierda{
    width:80%;
    
    display: block;
    
}
input{
    height: 1.45em;
    width: 100%;
}
textarea{
    margin-top:0.5em;
    width: 100%;
}
#enviar{
    width: 100%;
    height: 3em;     
}
footer{
    /*No funciona que el footer */
   
    bottom: 0;
	width:100%;
	background-color: white;
	position: absolute;
	padding: 1.5em;
	text-align: center;
    font-size: 1.25em;
}