* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
    margin: 0 1.5em 0 1.5em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 0.5em;
    overflow: hidden;
}

img {
    max-width: 100%;
}

.encabezado {
    background-color: burlywood;
    display: block;
    margin: 0 0.5em 0 0.5em;
    padding: 1em;
    height: 6em;
    position: sticky;
}

#logo {

    float: left;
    width: 3.75em;
    height: 3.75em;


}

#titulo {
    text-align: center;
    height: 1.5em;
    float: center;
    background-color: #FFE;
    font-size: 2.5em;
    line-height: 1.5em;


}

.menu {
    background-color: #FEA;
    margin: 0 0.5em;
    text-align: center;
    z-index: 9;

}

/**
.menu ul > li{
    display: inline-block;
    float: left;
     width: 25%;
    height: 2.5em;
    line-height: 2.25em;
    text-align:center;
    position: relative;
}**/

/*Esto funciona para todos los li del menu*/

.menu li {
    position: relative;
    list-style-type: none;
}

.menu > ul {
    height: 3em;
    line-height: 3em;
    position: relative;
}

.menu > ul > li {
    position: relative;
    width: 25%;
    float: left;
}

/*Segundo nivel del menu*/

.submenu {
    position: absolute;
    background-color: white;
    display: none;
    width: 100%;
}

.submenu > li {
    position: relative;
    display: block;
}

/*Tercer nivel del menu*/

.subsubmenu {
    position: absolute;
    /*Le restamos el padding del menu inmediatamente superior*/
    right: 0;
    top: 0;
    transform: translateX(100%);
    background-color: white;
    display: none;
}

.menu li:hover .submenu {

    display: block;
}

/*Apuntamos a un li que es el padre dl subsubmenu para que no se habran todos los subsubmenus sino solo los asociados a cada li*/

.submenu li:hover .subsubmenu {

    display: inline-block;
}

/*Seccion principal de la pagina*/

section {
    width: 76%;
    border-style: ridge;
    border-color: bisque;
    float: left;
    min-height: 1em;
    height: 100%;
}

/*contenedor que encierra a los articulos, imagenes autores y a los poemas*/

.container {
    position: relative;
    margin: 0.5em 25% 0.5em 25%;
    width: 50%;
    border-style: ridge;
    border-color: bisque;
    /*Esto sirve para que cambie el cursor y salga una mano*/
    cursor: pointer;

}

.autor a {

    margin: 1em;
    width: calc(50% - 2em);
    display: inline-block;
    float: left;
}

#picAutor {
    /*  estos valores para definir el tamaño de tu círculo */
    height: 10em;
    width: 10em;
    /* lo siguiente es para definir la curvatura del circulo */
    border-radius: 50%;

}

.articulo {
    height: 10em;
    overflow-y: auto;
    margin: 0.5em;
    border-style: groove;
}

#picArticulo {
    width: 5em;
    height: 5em;
    float: left;
    border-radius: 10em;
}

/*Estructura del Poema*/

.nombrePoema {

    margin: 0.5em;
    line-height: 1em;
    height: 1em;
    text-align: center;
}

.poema {
    text-align: center;
    height: 0em;
    overflow: hidden;
    transition: height 0.2s;
}

.container:hover .poema {
    overflow-y: scroll;
    height: 10em;
}

/**Contenido de la barra lateral**/

.picAutor {
    /*  estos valores para definir el tamaño de tu círculo */
    height: 10em;
    width: 10em;
    /* lo siguiente es para definir la curvatura del circulo */
    border-radius: 50%;

}

.barralateral {
    width: 24%;

    border-style: ridge;
    border-color: bisque;
    float: right;
    text-align: center;
    min-height: 100%;
}

.compraLibro {
    margin: 0.5em;
    border-style: ridge;
    border-color: bisque;
}

#picAside {
    height: 8em;

}

/**Formulario de la web**/

form {
    width: 60%;
    align-content: center;
    margin: 5% 20% 0% 20%;
    text-align: justify;

}

legend {
    font-size: 3em;
}

.datos {
    font-size: 1.35em;
    text-align: left;
    display: inline-block;
}

label {
    width: 40%;
    float: left;
    clear: right;
}

input {
    height: 1.45em;
    width: 60%;



}

textarea {
    margin-top: 0.5em;
    width: 60%;
}

#enviar {
    width: 100%;
    height: 3em;
}

/**Footer de la web**/

footer {
    margin-left: -1.5em;
    margin-top: 1em;
    width: calc(100% + 3em);
    background-color: white;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 1.25em;
}

@media only screen and (max-width:768px) {
    #titulo {
        text-align: center;
        height: 100%;
        float: center;
        background-color: #FFE;
        font-size: 1em;
        padding-top: 1em;


    }

    #logo {

        float: left;
        width: 3.75em;
        height: 100%;


    }
    section {

        width: 100%;
        border-style: ridge;
        border-color: bisque;
        float: left;
        min-height: 1em;
        height: 100%;
    }

    /**Contenido de la barra lateral**/
    .picAutor {
        /*  estos valores para definir el tamaño de tu círculo */
        height: 10em;
        width: 10em;
        /* lo siguiente es para definir la curvatura del circulo */
        border-radius: 50%;

    }

    .barralateral {
        width: 100%;

        border-style: ridge;
        border-color: bisque;
        float: right;
        text-align: center;
        min-height: 100%;
    }

    .compraLibro {
        margin: 0.5em;
        border-style: ridge;
        border-color: bisque;
    }

    #picAside {
        height: 8em;

    }

    form {
        margin:0;
        width: 100%;
        align-content: center;
        text-align: justify;
    }

    .datos label,
    .datos input,
    .datos textarea {
        width: 100%;
    }


}
