*{
    margin: 0;
    padding: 0;

}
body{
	background-color: #FFF;
	font-family: verdana;
}

.encabezado{
    width: 90%;
    background-color: darkgray;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
    padding: 1em; 
}

#titulo{
    padding: 1em;
    float: left;
    background-color: #FFE; 
}

#menu{
    padding: 1em;
    float: center;
    background-color: #FEA; 
}

#logo{
    padding: 1em;
    float: right;
    background-color: #DEF; 
}

/************************************/
.contenedor{
    width: 90%;
    min-height: 500px;
    background-color: #ABC;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    display: flex;
}

.articulo{
    max-height: 250px;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    overflow: scroll; 
    background-color: #FED;
    float: left;
    
}

.articulo>p{
    font-size: 0.8em;
    margin-bottom: 1.5em;
    text-align: justify;
}

.tituloh2{
    color: #DEF;
    font-size: 1.2em;
    font-family: serif;
    font-weight: bold;
    background-color: #345;
    margin-bottom: 1em;
    padding: 0.5em;
}

.barralateral{
    /*min-width: 30%;*/
    max-width: 30%;
    background-color: #DEF;
    padding: 1em;
    margin-left: 1em;
    text-align: center;
    float: left;
}

.barralateral>p{
    font-size: 1em;

}

footer{
    width: 90%;
    color: #AAA;
    background-color: #DEF;
    display: block;
    margin: auto;
    margin-top: 1em;
    padding: 1.7em;
    font-size: 0.6em;
    text-align: right;
    
}

@media screen and (max-width:768px){
    .encabezado{
        font-size: 0.7em;
    }

    #titulo{
        padding: 0.5em;
    }

    #menu{
        padding: 0.5em;
    }

    #logo{
        padding: 0.5em;
    }

    /***********************************/
    .articulo>p{
        font-size: 0.6em;
        margin-bottom: 1.2em;
    }

    .tituloh2{
        color: #DEF;
        font-size: 0.9em;
        margin-bottom: 0.7em;
        padding: 0.3em;
    }

    .barralateral{
        background-color: #DEF;
        margin-left: 0.7em;
    }

    .barralateral>p{
        font-size: 0.5em;
    }
}
}
